*~
#*
*#
.#*

.DS_Store
.classpath
.idea
.gradle
.project
.metadata
.settings
META-INF/
classpath
bin/
logs/
target/
test-output/
gw-sdk/
build/
.gradle
.vagrant
git.properties
*.iml
*.ipr
*.iws
*.springBeans