@sdl:registry=https://nexus.sdl.com/repository/npm-internal/
--init-author-name=SDL
--init-author-email=noreply@sdl.com
email=noreply@sdl.com
//nexus.sdl.com/repository/npm-internal/:_authToken=NpmToken.<npm_token>